button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.player-container {
  margin-top: 50px;
}

.player-list {
  margin-top: 25px;
}

.list-container {
  margin-top: 30px;
}

.list {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#player-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
