button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
select.edit {
  float: right;
  margin: 5px;
}

.player-container {
  margin-top: 50px;
}

.player-list {
  margin-top: 25px;
}

.list-container {
  margin-top: 30px;
}

.list {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#player-name, #player-pass {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

#page-title {
  background-color:#273447;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#home-buttons {
  display: flex;
  justify-content: center;
}

#home-icon {
  width: 15%;
  height: 15%;
}

.btn-default {
  background-color: darkblue;
  border-color: darkblue;
}

.btn-default:hover {
  background-color: #273447;
  border-color: white;
}

#welcome-message {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-image: url(../assets/images/gaming-pattern-black.png);
}

.peanuts {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  padding: 10px;
  max-width: 1170px;
}

#back-button {
  background-color: darkred;
  border-color: darkred;
}

#back-button:hover {
  border-color: white;
}

.list {
  background-color: white;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  padding: 10px;
  max-width: 1170px;
}

a {
  color: #3498db;
}

a:hover {
  color: #1a7bbd;
}

.elepahnts {
  text-decoration: underline;
}